*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;  
}


header {
    top: 0;
    left: 0;
    right: 0;
    
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0px 40px 0px;
    padding: 35px 100px;
}


header nav ul li{
    position: relative;
    float: left;
}


header nav ul li a{
    padding: 15px;
    color: black;
    display: block;
    font-size: 16px; 
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
 
}





header div input{
    border: none;
    border-bottom: 1px solid rgba(58, 57, 57, 0.3);
    width: 140px;
    height: 25px;
    
}

.src{
    display: flex;

    img{
        padding: 0 15px 0 0;
    }
}

.lang{
    display: block; 

    img{
        padding: 0 0 0 7px;
    }    
}
.im:hover{
        display: block;
    
}





main {
    background: url(media/rectangle23.png) no-repeat;
    width: 100%;
    height: 100vh;
}








.main-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 120px 140px;
}

.left-side {
    width: 45%;
     /* Можно изменить на нужную ширину */
     
    h1{
        color: #fff;
        font-family: "PT Sans";
        font-size: 50px;
        font-weight: 700;
        line-height: 70px;
        text-align: left;
        white-space:pre-wrap;
        padding-bottom: 35px;
    }

    h2 a{
        color: #fff;
        padding-right: 15px;
        font-family: "PT Sans";
        font-size: 19px;
        font-weight: 700;
        line-height: 22.4px;
        letter-spacing: 0.1em;
        text-align: left;

    }

    p{
        color: #fff;
        font-family: "PT Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: left;
        white-space:pre-wrap;
    }
}

.cc{
    display: flex;
    align-items: center;
    padding-top: 45px;
}



.right-side {
    width: 45%; /* Можно изменить на нужную ширину */
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Расстояние между блоками */
}

.block {
    width: calc((100% - 20px)/2); /* Для двух блоков в ряду */
    height: 250px; /* Высота блоков */
    background-color: #5DB7DE;
    border-radius: 20px;

    p{
        color: #fff;
        font-family: "PT Sans";
        font-size: 13px;
        font-weight: 700;
        line-height: 18.2px;
        letter-spacing: 0.1em;
        text-align: left;
        padding: 20px 0 0 30px;
    }

    h2{
        color: #fff;
        font-family: "PT Sans";
        font-size: 19px;
        font-weight: 700;
        line-height: 26.6px;
        text-align: left;
        padding: 120px 0 0 30px;
        white-space:pre-wrap;
    }
}




main {
    background: url(media/rectangle23.png) no-repeat;
    width: 100%;
    height: 100vh;
}


.main-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 120px 140px;
}


.left-side {
    width: 45%;
     /* Можно изменить на нужную ширину */
     
    h1{
        color: #fff;
        font-family: "PT Sans";
        font-size: 50px;
        font-weight: 700;
        line-height: 70px;
        text-align: left;
        white-space:pre-wrap;
        padding-bottom: 35px;
    }

    h2 a{
        color: #fff;
        padding-right: 15px;
        font-family: "PT Sans";
        font-size: 19px;
        font-weight: 700;
        line-height: 22.4px;
        letter-spacing: 0.1em;
        text-align: left;

    }

    p{
        color: #fff;
        font-family: "PT Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: left;
        white-space:pre-wrap;
    }
}


.cc{
    display: flex;
    align-items: center;
    padding-top: 45px;
}


.right-side {
    width: 45%; /* Можно изменить на нужную ширину */
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Расстояние между блоками */
}


.block {
    width: calc((100% - 20px)/2); /* Для двух блоков в ряду */
    height: 250px; /* Высота блоков */
    background-color: #5DB7DE;
    border-radius: 20px;

    p{
        color: #fff;
        font-family: "PT Sans";
        font-size: 13px;
        font-weight: 700;
        line-height: 18.2px;
        letter-spacing: 0.1em;
        text-align: left;
        padding: 20px 0 0 30px;
    }

    h2{
        color: #fff;
        font-family: "PT Sans";
        font-size: 19px;
        font-weight: 700;
        line-height: 26.6px;
        text-align: left;
        padding: 120px 0 0 30px;
        white-space:pre-wrap;
    }
}








